.footer{
  margin-top: 150px;
}
.footer_content{
 text-align: center;
}
.returnTop{
  padding: 13px 0;
}
.returnTop a{
  display: block;
  background: url(../images/index/icon_back_to_top.png);
  width: 31px;
  height: 26px;
  margin:0 auto;
}